/* CSS Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utility Classes */
.py-1{
    padding: 1rem 0;
}
.py-2{
    padding: 2rem 0;
}
.py-3{
    padding: 3rem 0;
}

.p-1{
    padding: 1rem;
}

.p-2{
    padding: 2rem;
}

.p-3{
    padding: 3rem;
}

.btn{
    display: inline-block;
    padding: 10px;
    background-color: #4c6ca0;
    color:#fff;
    border:none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer; 
}

.clearfix{
    clear: both;
}


/* Main Styling */
body{
    font-family: 'Raleway',sans-serif;
    line-height: 1.7em;
    background-color: #fff;
    color: #333;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

/* Navbar */
.navbar{
    background-color: #444;
    color:#999;
    overflow: auto;
    padding: 0 1rem;
}

.navbar h1{
    float: left;
    padding: 20px 0;
}

.navbar ul{
    float:right;
}

.navbar ul li{
    float: left;
}

.navbar ul li a{
    display: block;
    text-align: center;
    padding:20px;
    background-color: #333;
    color: #fff;
}

/* Showcase */
#showcase{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #ccc;
}

#showcase .info-left{
    flex: 3;
    
}

#showcase .info-left img{
    display: block;
    width: 100%;
    height: 400px;
}

#showcase .info-right{
    flex: 1;
}

#showcase .info-right input[type="search"]{
    width:70%;
    padding:10px;
    border:1px solid #ccc;
    border-radius: 5px;
    font-size: 18px;
}

#showcase .info-right .buttons{
    padding-top: 1.5rem;
}
#showcase .info-right .buttons div:first-child{
    margin-bottom: 1.5rem;
}

.buttons div button{
    display: inline-block;
    padding: 10px;
    background-color: #4c6ca0;
    color:#fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width:100%;
}


/* Section: web-info */
#web-info{
    display: flex;
    border-bottom: 1px solid #ccc;
}

#web-info .info-left{
    flex: 1.5;
    border: 1px solid #ccc;
    margin-left: 15px;
}

#web-info .info-left img{
    display: block;
    width:100%;
    height:300px;
}

#web-info .info-left p{
    border-bottom: 1px solid #ccc;
}

#web-info .info-left .buttons button{
    display: inline-block;
    padding:8px;
    background-color: #4c6ca0;
    color:#fff;
    font-size: 18px;
    border:none;
    border-radius: 5px;
    cursor: pointer;
}
#web-info .info-right{
    flex: 4;
    margin-left: 15px;
    position: relative;
}

.section-meals {
    padding: 0;
}

.meals-showcase {
    list-style: none;
    width: 100%;
}

.meals-showcase li {
    display: block;
    float: left;
    width: 25%;
}

.meal-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

.meal-photo img {
    opacity: 0.9;
    width: 100%;
    height:auto;
    transform: scale(1.45);
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
}

#sub-info div{
    float:left;
    width: 45%;
    background: #f4f4f4;
}

#sub-info div:last-child{
   position: absolute;
   right:0;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer div ul{
    display: flex;
    align-items: center;
}

footer div ul li{
    padding:0.75rem;
    margin:0 0.25rem;
    color: #4c6ca0;
}